alias ls="ls --color --group-directories-first"
alias l="ls -lFh"
alias ll="ls -lAsh -I '.*'"
alias la="ls -lAsh"

# List only directories
alias ld="ls -lAp | grep '/'"

alias ~='cd ~'
alias ..='cd ..'
alias wh='cd /mnt/c/Users/$USER'

alias cp='cp -iv'
alias mv='mv -i'
alias rm='rm -Iv'
alias chmod='chmod --preserve-root'
alias chown='chown --preserve-root'

alias dud='du -ch -d 1 | sort -hr'
alias df='df -Th'
alias pw='openssl rand -base64 64'
alias myip="curl http://ipecho.net/plain; echo"

alias update='sudo -- sh -c "apt update && apt -y upgrade && apt -y autoremove && apt -y clean && npm update -g"'

# List available scripts
alias scripts="cat package.json | jq --color-output '.scripts'"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"
