# macos: alias ls="ls -lash --color=auto"
alias ls="ls -lash --group-directories-first --color=auto"

# List all files in long format, directories first
# macos: alias l='ls -lF | grep "/" && ls -lap | grep -v "/"'
alias l="ls -lF"

# List all files in long format, excluding . and ..
alias ll="ls -lAF"

# List only directories
alias ld="ls -lap | grep '/'"

alias ..='cd ..'
alias wh='cd /mnt/c/Users/$USER'

alias cp='cp -iv'
alias mv='mv -i'
alias rm='rm -Iv'
alias chmod='chmod --preserve-root'
alias chown='chown --preserve-root'

alias dud='du -ch -d 1 | sort -hr'
alias df='df -Th'
alias pw='openssl rand -base64 64'
alias myip="curl http://ipecho.net/plain; echo"

alias update='sudo -- sh -c "apt update && apt -y upgrade && apt -y autoremove && apt -y clean && npm update -g"'

# List available scripts
alias scripts="cat package.json | jq --color-output '.scripts'"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"
